* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
}
.container {
    display: flex;
    width:600px;
    height: 60vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
}
.image {
    background-image: url(../images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    border-radius: 16px 0 0 16px;
}
.content {
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 100%;
    padding: 25px;
}
.content h2 {
    font-family: 'Fraunces', serif;
    font-size: 2.3em;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content .paragraph {
    padding-top: 20px;
    padding-bottom: 20px;
}
.cost {
    display:flex;
    width: 100%;
    
    align-items: center;
}
.cost .new-cost {
    font-size: 30px;
    color: hsl(156, 82%, 33%);
    font-weight: bold;
    padding-right: 25px;
    font-family: 'Fraunces', serif;
}
.content input {
    width: 95%;
    height: 50px;
    background-color: hsl(156, 82%, 33%);
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
}
.content input:hover {
    background-color: hsl(212, 21%, 14%);
    cursor: pointer;
    color: white;
}
@media screen and (max-width:376px) {
    .container {
        width: 400px;
        display: flex;
        height: 800px;
        flex-direction: column;
    }
    .image {
        width: 100%;
    }
    .content h2 {
        width: 350px;
    }
    .content .paragraph {
        width: 350px;
    }
    .cost {
        width: 350px;
    }
    .cost .new-cost {
        margin-right: 40px;
    }
    .content input {
        width: 350px;
    }
}